* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #F5F5F5;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main .form-container {
    position: relative;
    width: 420px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 40px 32px;
    border-radius: 20px;
    box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.08), 0px 20px 32px rgba(96, 97, 112, 0.24);
}

.main .form-container h1 {
    margin-bottom: 24px;
    font-size: 28px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

.main .form-container form {
    display: flex;
    flex-direction: column;
}

/* .main .form-container form input:not(:last-child) {
    margin-bottom: 8px;
} */

.main .form-container form input {
    padding: 14px 0 14px 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    border: 1px solid #CFD8DC;
    border-radius: 12px;
}

.main .form-container form input:focus {
    outline: none;
    border: 1px solid #FFE44D;
    caret-color: #FFAA0D;
}

.main .form-container form .email-input {
    margin-bottom: 8px;
}

/* .main .form-container form input:last-child {
    margin-bottom: 24px;
} */

.main .form-container form .password-input {
    margin-bottom: 24px;
}

.main .form-container form .about-text {
    margin-bottom: 24px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #7B8E98;
}

.main .form-container form button {
    border-radius: 55px;
    padding: 14px 98px;
    border: none;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.main .form-container form .register-button {
    background-color: #FFE44D;
    margin-bottom: 8px;
}

.main .form-container .close-form {
   position: absolute; 
   top: 21px;
   right: 21px;
   cursor: pointer;
}